@import "../../style/variables";


#services{
    padding: 0 40px;
    .main-title{
        color: $color-brand;
        margin-bottom: 20px;
    }

    .card{
        border: none;
        border-radius: 10px ;
        padding: 10px 0;
        transition: all 1s;

        &:hover{
            transform: scale(1.05);
        }

        .card-title{
            color: $color-brand;
        }
    }
    
}
