.img-container{

}

.img {
    max-height: 75%;
    border-radius: 50%;
}

.inner-section{
    max-width: 1410px;
    margin: auto;
}

@media (max-width: 700px) {
    .nameDesign {
      margin-top: 10px;
    }
  }