.software-development-header {
    background: linear-gradient(107.07deg,#684efb -6.64%,#5a00dd 89.11%);
    background: #040d21 url('../../Image/course/hero-bg.svg') no-repeat center center;
    padding: 60px 0px;
}

.header-text-section {
    color: white;

    h1 {
        font-size: bold;
        margin-bottom: 20px;
    }

    p {
        text-align: justify;
        font-size: 1.2rem;
    }
}